<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>ServletEx01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- servlet과 servletmapping이 한세트임 -->
  <servlet>
  	<servlet-name>ServletEx01</servlet-name>
  	<servlet-class>servlet1.ServletEx01</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletEx01</servlet-name>	
  	<url-pattern>/servlet01</url-pattern>
  </servlet-mapping>
  <!-- 두번째 servlet -->
  <servlet>
  	<servlet-name>ServletEx02</servlet-name>
  	<servlet-class>servlet1.ServletEx02</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletEx02</servlet-name>	
  	<url-pattern>/servlet02</url-pattern>
  </servlet-mapping>
  <!-- 세번째 servlet -->
    <servlet>
  	<servlet-name>ServletEx03</servlet-name>
  	<servlet-class>servlet1.ServletEx03</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletEx03</servlet-name>	
  	<url-pattern>/servlet03</url-pattern>
  </servlet-mapping>
  <!-- 구구단 servlet -->
  <servlet>
  	<servlet-name>GugudanEx01</servlet-name>
  	<servlet-class>servlet1.GugudanEx01</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GugudanEx01</servlet-name>	
  	<url-pattern>/gugudan01</url-pattern>
  </servlet-mapping>
  <!-- 달력 servlet -->
    <servlet>
  	<servlet-name>CalenderEx01</servlet-name>
  	<servlet-class>servlet1.CalenderEx01</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CalenderEx01</servlet-name>	
  	<url-pattern>/calender01</url-pattern>
  </servlet-mapping>
</web-app>